{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
<section class="login-container">
    <div class="container-header">
        <h3 class="container-title">Login To Your Account</h3>
    </div>
    <div class="container login-container " style="margin-bottom: 30px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="login-card mt-5">
                    <div class="card-header">
                        <h3 class="text-center">Sign In</h3>
                    </div>
                    <div class="card-body">
                        <div class="login-container">
                            <form action="/accounts/login/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form%}
        
                                <div class="form-group">
                                    <input type="submit" class="btn btn-sm" value="Login">
                                </div>
                                <input type="hidden" name="next" value="{{next}}">
                            </form>
                        </div>
                        <p class="mt-5">Don't Have an Account, <a href="/accounts/register/" class="text-primary">Register</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>


{% endblock %}