<footer class="border-1 border-top border-default pt-4 pb-2">
    <div class="row container-fluid">
        <div class="col d-flex">
            <a href="#" class="nav-item text-dark fw-normal pe-3">Contact Us</a>
            <a href="#" class="nav-item text-dark fw-normal pe-3">F.A.Q</a>
            <a href="#" class="nav-item text-dark fw-normal pe-3">Cookies Policy</a>
            <a href="#" class="nav-item text-dark fw-normal pe-3">Legal Terms</a>
        </div>
        <div class="col-sm-3 col-12 text-end">
            <a href="" class="">James Muriithi</a>
        </div>
    </div>
</footer>