<!-- navbar -->
{% load static %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent w-100 position-absolute">
    <div class="container-fluid w-100">
        <a class="navbar-brand fs-3 fw-bold" href="/">
            AWWWARDS.
        </a>
        <div class="d-flex ms-auto align-items-center pe-0">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse bg-transparent" id="navbarSupportedContent">
            <ul class="navbar-nav mt-4 mt-lg-0 text-white ms-auto">
                <li class="nav-item ps-lg-4 pe-4 ps-2 mb-4 mb-lg-0 d-flex align-items-center">

                    <span class="position-relative search">
                        <span class="material-icons ps-1 text-primary position-absolute search-icon">search</span>
                        <form action="{% url 'search' %}">
                            <input type="text" name="q" class="border border-primary form-control rounded text-primary"
                                placeholder="Search here.." value="{{request.GET.q}}">
                        </form>
                    </span>

                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item px-2 pt-lg-1">
                    <a class="nav-link fw-medium text-uppercase" href="{% url 'login' %}">
                        Login / Register
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="text-white text-uppercase fw-light px-4 py-2  d-inline-flex center btn btn-secondary rounded-0"
                        href="{% url 'login' %}" {% if user.is_authenticated %} data-bs-target="#exampleModal"
                        data-bs-toggle="modal" {% endif %}>
                        Submit your site
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item px-2 mb-3 mb-lg-0">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{user.user_avatar}}" alt="" class="avatar rounded-circle img-30">
                    </a>

                    <div class="dropdown-menu dropdown-menu-end bg-primary" aria-labelledby="navbarDropdown"
                        data-bs-popper="none">
                        <a class="dropdown-item bg-primary text-white" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item bg-primary text-white d-flex align-item-center"
                            href="{% url 'logout' %}">
                            Logout
                            <span class="material-icons fs-4 text-white ps-2">logout</span>
                        </a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- end navbar -->