{% load static %}
<div class="project-card">
    <div class="position-relative project-image">
        <img src="{{project.thumbnail}}" alt="" class="img-fluid image w-100">
        <div data-url="{% url 'single_project' slug=project.slug %}" class="position-absolute top-0 h-100 w-100 overlay flex-column">
            <div class="col"></div>
            <div class="col center">
                <a href="{{project.url}}" target="_blank"
                    class="btn btn-light rounded-pill text-uppercase text-xs center px-3 not-link">
                    Visit site
                </a>
            </div>
            <div class="col d-flex justify-content-end align-items-end pe-2 pb-2">
                <button class="btn btn-sm text-light rounded-circle center d-flex img-30 share not-link"
                    data-url="{{ project.url }}" data-bs-toggle="tooltip" tabindex="0" data-bs-placement="top"
                    title="Copy project url">
                    <span class="material-icons fs-6 not-link">share</span>
                </button>
            </div>
        </div>
    </div>
    <div class="details  p-3">
        <p class="text-muted mb-1 text-sm">
            From {{project.location}} . <span class="ps-2">{{project.date | date}}</span>
        </p>
        <a href="{% url 'single_project' slug=project.slug %}" class="">
            <h6 class="fw-bold">
                {{project.title | truncatechars:30}}
            </h6>
        </a>
        <div class="d-flex align-items-center">
            <img src="{{project.user.user_avatar}}" height="30" width="30" alt="" class="avatar rounded-circle">
            <div class="ps-3">
                <span class="text-muted mb-1 text-uppercase text-xs">By {{project.user.full_name}}</span>
            </div>
        </div>
    </div>
</div>